/AdvJavaClass_04_02_19/nbproject/private/
/AdvJavaClass_04_02_19/build/
/HW_04_02_19/nbproject/private/
/HW_04_02_19/build/
/AdvJavaClass_07_02_19/nbproject/private/
/AdvJavaClass_07_02_19/build/
/AdvJavaClass_09_02_19/nbproject/private/
/AdvJavaClass/nbproject/private/
/BrickBreaker/nbproject/private/
/AdvJavaClass_13_02_19/nbproject/private/
/BrickBreaker/build/
/BrickBreaker/dist/
/AdvJavaClass_13_02_19/build/
/AdvJavaClass_14_02_19/nbproject/private/
/AdvJavaClass_16_02_19/nbproject/private/
/AdvJavaClass_16_02_19/build/
/AdvJavaClass_17_02_19/nbproject/private/
/AdvJavaClass_17_02_19/build/
/AdvjavaClass_18_02_19/nbproject/private/
/AdvjavaClass_18_02_19/build/
/Evidence/nbproject/private/
/Evidence/build/
/AvdJavaClass_24_02_19/nbproject/private/
/AvdJavaClass_24_02_19/build/
/AdvJavaClass_04_03_19/nbproject/private/
/AdvJavaClass_04_03_19/build/