    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:04
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-add-button-with-plus-symbol-in-a-black-circle:before { content: "\f100"; }
.flaticon-arrow-circle:before { content: "\f101"; }
.flaticon-arrow-curve-pointing-left:before { content: "\f102"; }
.flaticon-arrow-curving-around-a-circle:before { content: "\f103"; }
.flaticon-arrow-down:before { content: "\f104"; }
.flaticon-arrow-down-left:before { content: "\f105"; }
.flaticon-arrow-down-sign-to-navigate:before { content: "\f106"; }
.flaticon-arrow-fork:before { content: "\f107"; }
.flaticon-arrow-from:before { content: "\f108"; }
.flaticon-arrow-in-u-shape-to-turn:before { content: "\f109"; }
.flaticon-arrow-into-drive-symbol:before { content: "\f10a"; }
.flaticon-arrow-join:before { content: "\f10b"; }
.flaticon-arrow-junction-one-to-the-left:before { content: "\f10c"; }
.flaticon-arrow-loop:before { content: "\f10d"; }
.flaticon-arrow-loop-1:before { content: "\f10e"; }
.flaticon-arrow-loop-symbol:before { content: "\f10f"; }
.flaticon-arrow-merge-symbol:before { content: "\f110"; }
.flaticon-arrow-navigate-close:before { content: "\f111"; }
.flaticon-arrow-of-large-size-turning-to-the-left:before { content: "\f112"; }
.flaticon-arrow-out:before { content: "\f113"; }
.flaticon-arrow-over-a-rectangular-element:before { content: "\f114"; }
.flaticon-arrow-point-to-down:before { content: "\f115"; }
.flaticon-arrow-point-to-right:before { content: "\f116"; }
.flaticon-arrow-pointing-down-right-in-a-circle:before { content: "\f117"; }
.flaticon-arrow-pointing-right-down:before { content: "\f118"; }
.flaticon-arrow-pointing-to-right:before { content: "\f119"; }
.flaticon-arrow-pointing-up-left:before { content: "\f11a"; }
.flaticon-arrow-shuffle:before { content: "\f11b"; }
.flaticon-arrow-spread-symbol:before { content: "\f11c"; }
.flaticon-arrow-squiggly:before { content: "\f11d"; }
.flaticon-arrow-through:before { content: "\f11e"; }
.flaticon-arrow-to:before { content: "\f11f"; }
.flaticon-arrow-to-the-left-silhouette:before { content: "\f120"; }
.flaticon-arrow-to-the-right-navigation:before { content: "\f121"; }
.flaticon-arrow-up:before { content: "\f122"; }
.flaticon-arrow-up-in-a-circle:before { content: "\f123"; }
.flaticon-arrow-up-right:before { content: "\f124"; }
.flaticon-arrow-upward-to-rectangle-shape:before { content: "\f125"; }
.flaticon-arrowhead-thin-outline-to-the-left:before { content: "\f126"; }
.flaticon-arrowheads-of-thin-outline-to-the-left:before { content: "\f127"; }
.flaticon-arrows-circle:before { content: "\f128"; }
.flaticon-arrows-group-interface-symbol-to-expand:before { content: "\f129"; }
.flaticon-arrows-merge-pointing-to-right:before { content: "\f12a"; }
.flaticon-arrows-mix:before { content: "\f12b"; }
.flaticon-back-navigational-arrow-button-pointing-to-left:before { content: "\f12c"; }
.flaticon-barrier-closed:before { content: "\f12d"; }
.flaticon-barrier-open:before { content: "\f12e"; }
.flaticon-basic-text-format:before { content: "\f12f"; }
.flaticon-basic-window-appearance:before { content: "\f130"; }
.flaticon-bell-black-shape:before { content: "\f131"; }
.flaticon-biohazard-sign-inside-a-triangle-outline:before { content: "\f132"; }
.flaticon-blank-window-with-key:before { content: "\f133"; }
.flaticon-book-closed-with-black-cover:before { content: "\f134"; }
.flaticon-book-of-black-cover-closed:before { content: "\f135"; }
.flaticon-book-open-in-the-middle:before { content: "\f136"; }
.flaticon-book-with-headphones-symbol:before { content: "\f137"; }
.flaticon-book-with-white-bookmark:before { content: "\f138"; }
.flaticon-bookmark-silhouette-variant:before { content: "\f139"; }
.flaticon-bookmarks:before { content: "\f13a"; }
.flaticon-books-overlapping-arrangement:before { content: "\f13b"; }
.flaticon-braille-text:before { content: "\f13c"; }
.flaticon-broken-heart-silhouette-shape:before { content: "\f13d"; }
.flaticon-buoy:before { content: "\f13e"; }
.flaticon-calibration-mark:before { content: "\f13f"; }
.flaticon-candle-burning:before { content: "\f140"; }
.flaticon-candle-holder-with-candle:before { content: "\f141"; }
.flaticon-cd-burning-application:before { content: "\f142"; }
.flaticon-cd-case:before { content: "\f143"; }
.flaticon-cd-drive:before { content: "\f144"; }
.flaticon-cd-pirated-interface-symbol-for-piracy:before { content: "\f145"; }
.flaticon-cd-window:before { content: "\f146"; }
.flaticon-cd-with-open-window:before { content: "\f147"; }
.flaticon-check:before { content: "\f148"; }
.flaticon-check-mark-black-outline:before { content: "\f149"; }
.flaticon-checkered-racing-flag-variant:before { content: "\f14a"; }
.flaticon-circle-outline:before { content: "\f14b"; }
.flaticon-circle-outline-with-exclamation-point:before { content: "\f14c"; }
.flaticon-clipboard:before { content: "\f14d"; }
.flaticon-clipboard-empty-in-black:before { content: "\f14e"; }
.flaticon-clipboard-paste-option:before { content: "\f14f"; }
.flaticon-clipboard-paste-with-no-format:before { content: "\f150"; }
.flaticon-clipboard-variant-with-lists-and-checks:before { content: "\f151"; }
.flaticon-clipboard-variant-with-pencil-and-check-mark-variant:before { content: "\f152"; }
.flaticon-close:before { content: "\f153"; }
.flaticon-closed-door-with-border-silhouette:before { content: "\f154"; }
.flaticon-compact-disc-variant-with-border:before { content: "\f155"; }
.flaticon-copy-documents-option:before { content: "\f156"; }
.flaticon-cross-variant-with-arrow-edges:before { content: "\f157"; }
.flaticon-crosshair-variant-with-navigation-arrows:before { content: "\f158"; }
.flaticon-curved-arrow-to-the-right:before { content: "\f159"; }
.flaticon-cut:before { content: "\f15a"; }
.flaticon-delete:before { content: "\f15b"; }
.flaticon-delete-symbol-option:before { content: "\f15c"; }
.flaticon-dictionary-book-with-letters-a-to-z:before { content: "\f15d"; }
.flaticon-document-center:before { content: "\f15e"; }
.flaticon-document-centering-horizontally:before { content: "\f15f"; }
.flaticon-document-empty:before { content: "\f160"; }
.flaticon-document-empty-horizontal-page:before { content: "\f161"; }
.flaticon-document-file-with-line:before { content: "\f162"; }
.flaticon-document-footer:before { content: "\f163"; }
.flaticon-document-header:before { content: "\f164"; }
.flaticon-document-height-adjustment:before { content: "\f165"; }
.flaticon-document-landscape-orientation:before { content: "\f166"; }
.flaticon-document-page-number:before { content: "\f167"; }
.flaticon-document-pinned:before { content: "\f168"; }
.flaticon-document-size:before { content: "\f169"; }
.flaticon-document-tag-interface-symbol:before { content: "\f16a"; }
.flaticon-document-vertical-center-alignment:before { content: "\f16b"; }
.flaticon-document-width:before { content: "\f16c"; }
.flaticon-document-with-a-cup:before { content: "\f16d"; }
.flaticon-document-with-gear:before { content: "\f16e"; }
.flaticon-document-with-irregular-line:before { content: "\f16f"; }
.flaticon-document-with-line-chart:before { content: "\f170"; }
.flaticon-document-with-paper-clip:before { content: "\f171"; }
.flaticon-document-with-selection-box:before { content: "\f172"; }
.flaticon-document-with-speaker:before { content: "\f173"; }
.flaticon-documents-empty:before { content: "\f174"; }
.flaticon-documents-exchange:before { content: "\f175"; }
.flaticon-documents-with-a-heart-symbol:before { content: "\f176"; }
.flaticon-door-exit:before { content: "\f177"; }
.flaticon-double-curve-arrow-to-the-right:before { content: "\f178"; }
.flaticon-edit:before { content: "\f179"; }
.flaticon-equalizer-tool-on-open-window:before { content: "\f17a"; }
.flaticon-escalator-down:before { content: "\f17b"; }
.flaticon-escalator-silhouette-symbol:before { content: "\f17c"; }
.flaticon-escalator-up-sign:before { content: "\f17d"; }
.flaticon-female-symbol:before { content: "\f17e"; }
.flaticon-find-again-option:before { content: "\f17f"; }
.flaticon-find-and-replace:before { content: "\f180"; }
.flaticon-find-text:before { content: "\f181"; }
.flaticon-first-aid-cross-in-black-inside-a-circle:before { content: "\f182"; }
.flaticon-fit-to-height:before { content: "\f183"; }
.flaticon-fit-to-width:before { content: "\f184"; }
.flaticon-flag-signal-in-black-cloth-on-a-pole:before { content: "\f185"; }
.flaticon-floppy-disk-digital-data-storage-or-save-interface-symbol:before { content: "\f186"; }
.flaticon-floppy-diskette-with-open-window:before { content: "\f187"; }
.flaticon-floppy-diskette-with-pen:before { content: "\f188"; }
.flaticon-floppy-disks-pair:before { content: "\f189"; }
.flaticon-floppy-drive:before { content: "\f18a"; }
.flaticon-folder-and-window:before { content: "\f18b"; }
.flaticon-folder-into:before { content: "\f18c"; }
.flaticon-folder-network-option:before { content: "\f18d"; }
.flaticon-folder-out-interface-symbol:before { content: "\f18e"; }
.flaticon-folder-shared:before { content: "\f18f"; }
.flaticon-folder-with-a-document-page:before { content: "\f190"; }
.flaticon-folder-with-information:before { content: "\f191"; }
.flaticon-folder-with-label-of-large-size:before { content: "\f192"; }
.flaticon-folder-zip:before { content: "\f193"; }
.flaticon-folders-of-large-size-arranged:before { content: "\f194"; }
.flaticon-folders-with-information:before { content: "\f195"; }
.flaticon-font:before { content: "\f196"; }
.flaticon-font-style-bold:before { content: "\f197"; }
.flaticon-font-style-subscript:before { content: "\f198"; }
.flaticon-font-style-superscript:before { content: "\f199"; }
.flaticon-font-style-underline:before { content: "\f19a"; }
.flaticon-font-window:before { content: "\f19b"; }
.flaticon-forbidden-sign:before { content: "\f19c"; }
.flaticon-four-arrows-meeting-at-the-center:before { content: "\f19d"; }
.flaticon-garbage-can:before { content: "\f19e"; }
.flaticon-garbage-can-half-full-with-recycle-symbol:before { content: "\f19f"; }
.flaticon-garbage-can-with-recycling-symbol:before { content: "\f1a0"; }
.flaticon-garbage-container:before { content: "\f1a1"; }
.flaticon-garbage-full:before { content: "\f1a2"; }
.flaticon-garbage-with-recycle-sign-overflowing-with-trash:before { content: "\f1a3"; }
.flaticon-hard-drive-computer-part:before { content: "\f1a4"; }
.flaticon-hard-drive-network:before { content: "\f1a5"; }
.flaticon-heart-simple-shape-silhouette:before { content: "\f1a6"; }
.flaticon-history:before { content: "\f1a7"; }
.flaticon-indent-decrease-symbol:before { content: "\f1a8"; }
.flaticon-indent-increase-interface-symbol:before { content: "\f1a9"; }
.flaticon-information:before { content: "\f1aa"; }
.flaticon-italics-font-style-variant:before { content: "\f1ab"; }
.flaticon-justified-text-alignment:before { content: "\f1ac"; }
.flaticon-key-with-cross-sign:before { content: "\f1ad"; }
.flaticon-led-light-lamp:before { content: "\f1ae"; }
.flaticon-letter-n-lower-case-font:before { content: "\f1af"; }
.flaticon-letters-abc-in-pixelated-form:before { content: "\f1b0"; }
.flaticon-lifebelt:before { content: "\f1b1"; }
.flaticon-light-bulb-off:before { content: "\f1b2"; }
.flaticon-lightbulb-on:before { content: "\f1b3"; }
.flaticon-lighthouse-with-flashing-lights:before { content: "\f1b4"; }
.flaticon-line-break-symbol:before { content: "\f1b5"; }
.flaticon-line-spacing-adjustment-in-a-paragraph:before { content: "\f1b6"; }
.flaticon-line-spacing-text:before { content: "\f1b7"; }
.flaticon-list-in-bullet-form:before { content: "\f1b8"; }
.flaticon-list-roman-style-numbers:before { content: "\f1b9"; }
.flaticon-locator-on-an-open-folded-map:before { content: "\f1ba"; }
.flaticon-log-in:before { content: "\f1bb"; }
.flaticon-magazine-folder:before { content: "\f1bc"; }
.flaticon-magic-wand:before { content: "\f1bd"; }
.flaticon-magnifying-lens-with-plus-sign:before { content: "\f1be"; }
.flaticon-male-gender-symbol-variant:before { content: "\f1bf"; }
.flaticon-map:before { content: "\f1c0"; }
.flaticon-map-location:before { content: "\f1c1"; }
.flaticon-map-of-roads:before { content: "\f1c2"; }
.flaticon-map-route:before { content: "\f1c3"; }
.flaticon-maximize-size-option:before { content: "\f1c4"; }
.flaticon-microsoft-word-document-file:before { content: "\f1c5"; }
.flaticon-minimize:before { content: "\f1c6"; }
.flaticon-minus-sign:before { content: "\f1c7"; }
.flaticon-minus-sign-of-a-line-in-horizontal-position:before { content: "\f1c8"; }
.flaticon-music-cd:before { content: "\f1c9"; }
.flaticon-music-document:before { content: "\f1ca"; }
.flaticon-music-folder:before { content: "\f1cb"; }
.flaticon-navigate-arrow-button-to-beginning:before { content: "\f1cc"; }
.flaticon-navigate-arrows-pointing-to-down:before { content: "\f1cd"; }
.flaticon-navigate-to-end:before { content: "\f1ce"; }
.flaticon-navigate-up-arrow:before { content: "\f1cf"; }
.flaticon-navigate-up-arrows:before { content: "\f1d0"; }
.flaticon-navigation-arrow-down-button:before { content: "\f1d1"; }
.flaticon-navigation-history-interface-symbol-of-a-clock-with-an-arrow:before { content: "\f1d2"; }
.flaticon-navigation-up-arrow-to-the-left:before { content: "\f1d3"; }
.flaticon-navigational-arrow-pointing-down-left-in-a-circle:before { content: "\f1d4"; }
.flaticon-numbered-list-style:before { content: "\f1d5"; }
.flaticon-open-door-with-border:before { content: "\f1d6"; }
.flaticon-open-folder-black-and-white-variant:before { content: "\f1d7"; }
.flaticon-open-folder-with-document:before { content: "\f1d8"; }
.flaticon-open-scroll-outline:before { content: "\f1d9"; }
.flaticon-open-window-with-gear-sign:before { content: "\f1da"; }
.flaticon-open-window-with-height-adjustment:before { content: "\f1db"; }
.flaticon-open-window-with-star-symbol:before { content: "\f1dc"; }
.flaticon-open-window-with-timer:before { content: "\f1dd"; }
.flaticon-plus-sign:before { content: "\f1de"; }
.flaticon-plus-symbol-button:before { content: "\f1df"; }
.flaticon-portfolio-folder-with-button-lock:before { content: "\f1e0"; }
.flaticon-printer-of-network:before { content: "\f1e1"; }
.flaticon-printer-with-document-coming-out-of-machine:before { content: "\f1e2"; }
.flaticon-question-mark-in-a-circle:before { content: "\f1e3"; }
.flaticon-quotation-mark:before { content: "\f1e4"; }
.flaticon-quotation-marks:before { content: "\f1e5"; }
.flaticon-quotation-right-mark:before { content: "\f1e6"; }
.flaticon-radiation-warning-sign:before { content: "\f1e7"; }
.flaticon-recycle-symbol-made-of-arrows-with-selection-box:before { content: "\f1e8"; }
.flaticon-redo-navigational-arrow-in-a-circle:before { content: "\f1e9"; }
.flaticon-refresh-arrows-couple:before { content: "\f1ea"; }
.flaticon-refresh-navigational-arrows-interface-symbol-inside-a-circle:before { content: "\f1eb"; }
.flaticon-refresh-selection-arrows-couple-inside-a-square-of-broken-line:before { content: "\f1ec"; }
.flaticon-resize-arrow-inside-a-square-interface-symbol:before { content: "\f1ed"; }
.flaticon-right-text-alignment-option:before { content: "\f1ee"; }
.flaticon-right-thin-arrowheads:before { content: "\f1ef"; }
.flaticon-route-sign:before { content: "\f1f0"; }
.flaticon-scroll-variant-with-seal:before { content: "\f1f1"; }
.flaticon-selection-find-interface-symbol-of-binoculars-with-eyes-in-a-square-of-broken-line:before { content: "\f1f2"; }
.flaticon-selection-symbol-for-interface-of-a-square-of-broken-line:before { content: "\f1f3"; }
.flaticon-selection-view-interface-symbol-of-a-magnifying-glass-inside-a-broken-line-square:before { content: "\f1f4"; }
.flaticon-service-bell:before { content: "\f1f5"; }
.flaticon-ships-wheel:before { content: "\f1f6"; }
.flaticon-signaling-disc-tool:before { content: "\f1f7"; }
.flaticon-signpost:before { content: "\f1f8"; }
.flaticon-signpost-1:before { content: "\f1f9"; }
.flaticon-signpost-with-three-arrows:before { content: "\f1fa"; }
.flaticon-speech-balloon-outline-for-conversation:before { content: "\f1fb"; }
.flaticon-speech-balloon-outline-with-exclamation-mark:before { content: "\f1fc"; }
.flaticon-speech-balloon-outline-with-question-mark:before { content: "\f1fd"; }
.flaticon-spell-check-interface-symbol:before { content: "\f1fe"; }
.flaticon-split-type-window:before { content: "\f1ff"; }
.flaticon-square-root-of-x-math-formula:before { content: "\f200"; }
.flaticon-ssd-drive-part:before { content: "\f201"; }
.flaticon-stairs-down:before { content: "\f202"; }
.flaticon-stairs-up:before { content: "\f203"; }
.flaticon-star-in-black-of-five-points-shape:before { content: "\f204"; }
.flaticon-star-outline:before { content: "\f205"; }
.flaticon-stop-sign-variant:before { content: "\f206"; }
.flaticon-strikethrough-font-variant:before { content: "\f207"; }
.flaticon-sum-sign:before { content: "\f208"; }
.flaticon-tag-black:before { content: "\f209"; }
.flaticon-tags-black-couple-with-rings:before { content: "\f20a"; }
.flaticon-text-align-left:before { content: "\f20b"; }
.flaticon-text-alignment-at-the-center:before { content: "\f20c"; }
.flaticon-text-document:before { content: "\f20d"; }
.flaticon-ticket:before { content: "\f20e"; }
.flaticon-toxic-warning-sign:before { content: "\f20f"; }
.flaticon-traffic-light:before { content: "\f210"; }
.flaticon-traffic-light-in-red-signal:before { content: "\f211"; }
.flaticon-traffic-light-silhouette-variant:before { content: "\f212"; }
.flaticon-trafficlight-in-green:before { content: "\f213"; }
.flaticon-trafficlight-in-yellow:before { content: "\f214"; }
.flaticon-trafficlight-off:before { content: "\f215"; }
.flaticon-triangular-warning-sign:before { content: "\f216"; }
.flaticon-triple-arrow-merging-to-one:before { content: "\f217"; }
.flaticon-undo-arrow:before { content: "\f218"; }
.flaticon-undo-navigational-arrow-in-a-circle:before { content: "\f219"; }
.flaticon-up-right-arrow-in-a-circle:before { content: "\f21a"; }
.flaticon-view-11:before { content: "\f21b"; }
.flaticon-warning-flammable-sign:before { content: "\f21c"; }
.flaticon-warning-harmful-sign:before { content: "\f21d"; }
.flaticon-warning-voltage-sign-of-a-bolt-inside-a-triangle:before { content: "\f21e"; }
.flaticon-warning-window-with-exclamation-sign-inside-a-triangle:before { content: "\f21f"; }
.flaticon-window-close:before { content: "\f220"; }
.flaticon-window-networking-option:before { content: "\f221"; }
.flaticon-window-of-dialog:before { content: "\f222"; }
.flaticon-window-of-test-card:before { content: "\f223"; }
.flaticon-window-size:before { content: "\f224"; }
.flaticon-window-split-vertical:before { content: "\f225"; }
.flaticon-window-width:before { content: "\f226"; }
.flaticon-window-with-earth-image:before { content: "\f227"; }
.flaticon-window-with-side-bar-selection:before { content: "\f228"; }
.flaticon-windows-close:before { content: "\f229"; }
.flaticon-windows-couple:before { content: "\f22a"; }
.flaticon-yield-sign:before { content: "\f22b"; }
.flaticon-zip-file-document-variant:before { content: "\f22c"; }
.flaticon-zoom-out-option:before { content: "\f22d"; }
    
    $font-Flaticon-add-button-with-plus-symbol-in-a-black-circle: "\f100";
    $font-Flaticon-arrow-circle: "\f101";
    $font-Flaticon-arrow-curve-pointing-left: "\f102";
    $font-Flaticon-arrow-curving-around-a-circle: "\f103";
    $font-Flaticon-arrow-down: "\f104";
    $font-Flaticon-arrow-down-left: "\f105";
    $font-Flaticon-arrow-down-sign-to-navigate: "\f106";
    $font-Flaticon-arrow-fork: "\f107";
    $font-Flaticon-arrow-from: "\f108";
    $font-Flaticon-arrow-in-u-shape-to-turn: "\f109";
    $font-Flaticon-arrow-into-drive-symbol: "\f10a";
    $font-Flaticon-arrow-join: "\f10b";
    $font-Flaticon-arrow-junction-one-to-the-left: "\f10c";
    $font-Flaticon-arrow-loop: "\f10d";
    $font-Flaticon-arrow-loop-1: "\f10e";
    $font-Flaticon-arrow-loop-symbol: "\f10f";
    $font-Flaticon-arrow-merge-symbol: "\f110";
    $font-Flaticon-arrow-navigate-close: "\f111";
    $font-Flaticon-arrow-of-large-size-turning-to-the-left: "\f112";
    $font-Flaticon-arrow-out: "\f113";
    $font-Flaticon-arrow-over-a-rectangular-element: "\f114";
    $font-Flaticon-arrow-point-to-down: "\f115";
    $font-Flaticon-arrow-point-to-right: "\f116";
    $font-Flaticon-arrow-pointing-down-right-in-a-circle: "\f117";
    $font-Flaticon-arrow-pointing-right-down: "\f118";
    $font-Flaticon-arrow-pointing-to-right: "\f119";
    $font-Flaticon-arrow-pointing-up-left: "\f11a";
    $font-Flaticon-arrow-shuffle: "\f11b";
    $font-Flaticon-arrow-spread-symbol: "\f11c";
    $font-Flaticon-arrow-squiggly: "\f11d";
    $font-Flaticon-arrow-through: "\f11e";
    $font-Flaticon-arrow-to: "\f11f";
    $font-Flaticon-arrow-to-the-left-silhouette: "\f120";
    $font-Flaticon-arrow-to-the-right-navigation: "\f121";
    $font-Flaticon-arrow-up: "\f122";
    $font-Flaticon-arrow-up-in-a-circle: "\f123";
    $font-Flaticon-arrow-up-right: "\f124";
    $font-Flaticon-arrow-upward-to-rectangle-shape: "\f125";
    $font-Flaticon-arrowhead-thin-outline-to-the-left: "\f126";
    $font-Flaticon-arrowheads-of-thin-outline-to-the-left: "\f127";
    $font-Flaticon-arrows-circle: "\f128";
    $font-Flaticon-arrows-group-interface-symbol-to-expand: "\f129";
    $font-Flaticon-arrows-merge-pointing-to-right: "\f12a";
    $font-Flaticon-arrows-mix: "\f12b";
    $font-Flaticon-back-navigational-arrow-button-pointing-to-left: "\f12c";
    $font-Flaticon-barrier-closed: "\f12d";
    $font-Flaticon-barrier-open: "\f12e";
    $font-Flaticon-basic-text-format: "\f12f";
    $font-Flaticon-basic-window-appearance: "\f130";
    $font-Flaticon-bell-black-shape: "\f131";
    $font-Flaticon-biohazard-sign-inside-a-triangle-outline: "\f132";
    $font-Flaticon-blank-window-with-key: "\f133";
    $font-Flaticon-book-closed-with-black-cover: "\f134";
    $font-Flaticon-book-of-black-cover-closed: "\f135";
    $font-Flaticon-book-open-in-the-middle: "\f136";
    $font-Flaticon-book-with-headphones-symbol: "\f137";
    $font-Flaticon-book-with-white-bookmark: "\f138";
    $font-Flaticon-bookmark-silhouette-variant: "\f139";
    $font-Flaticon-bookmarks: "\f13a";
    $font-Flaticon-books-overlapping-arrangement: "\f13b";
    $font-Flaticon-braille-text: "\f13c";
    $font-Flaticon-broken-heart-silhouette-shape: "\f13d";
    $font-Flaticon-buoy: "\f13e";
    $font-Flaticon-calibration-mark: "\f13f";
    $font-Flaticon-candle-burning: "\f140";
    $font-Flaticon-candle-holder-with-candle: "\f141";
    $font-Flaticon-cd-burning-application: "\f142";
    $font-Flaticon-cd-case: "\f143";
    $font-Flaticon-cd-drive: "\f144";
    $font-Flaticon-cd-pirated-interface-symbol-for-piracy: "\f145";
    $font-Flaticon-cd-window: "\f146";
    $font-Flaticon-cd-with-open-window: "\f147";
    $font-Flaticon-check: "\f148";
    $font-Flaticon-check-mark-black-outline: "\f149";
    $font-Flaticon-checkered-racing-flag-variant: "\f14a";
    $font-Flaticon-circle-outline: "\f14b";
    $font-Flaticon-circle-outline-with-exclamation-point: "\f14c";
    $font-Flaticon-clipboard: "\f14d";
    $font-Flaticon-clipboard-empty-in-black: "\f14e";
    $font-Flaticon-clipboard-paste-option: "\f14f";
    $font-Flaticon-clipboard-paste-with-no-format: "\f150";
    $font-Flaticon-clipboard-variant-with-lists-and-checks: "\f151";
    $font-Flaticon-clipboard-variant-with-pencil-and-check-mark-variant: "\f152";
    $font-Flaticon-close: "\f153";
    $font-Flaticon-closed-door-with-border-silhouette: "\f154";
    $font-Flaticon-compact-disc-variant-with-border: "\f155";
    $font-Flaticon-copy-documents-option: "\f156";
    $font-Flaticon-cross-variant-with-arrow-edges: "\f157";
    $font-Flaticon-crosshair-variant-with-navigation-arrows: "\f158";
    $font-Flaticon-curved-arrow-to-the-right: "\f159";
    $font-Flaticon-cut: "\f15a";
    $font-Flaticon-delete: "\f15b";
    $font-Flaticon-delete-symbol-option: "\f15c";
    $font-Flaticon-dictionary-book-with-letters-a-to-z: "\f15d";
    $font-Flaticon-document-center: "\f15e";
    $font-Flaticon-document-centering-horizontally: "\f15f";
    $font-Flaticon-document-empty: "\f160";
    $font-Flaticon-document-empty-horizontal-page: "\f161";
    $font-Flaticon-document-file-with-line: "\f162";
    $font-Flaticon-document-footer: "\f163";
    $font-Flaticon-document-header: "\f164";
    $font-Flaticon-document-height-adjustment: "\f165";
    $font-Flaticon-document-landscape-orientation: "\f166";
    $font-Flaticon-document-page-number: "\f167";
    $font-Flaticon-document-pinned: "\f168";
    $font-Flaticon-document-size: "\f169";
    $font-Flaticon-document-tag-interface-symbol: "\f16a";
    $font-Flaticon-document-vertical-center-alignment: "\f16b";
    $font-Flaticon-document-width: "\f16c";
    $font-Flaticon-document-with-a-cup: "\f16d";
    $font-Flaticon-document-with-gear: "\f16e";
    $font-Flaticon-document-with-irregular-line: "\f16f";
    $font-Flaticon-document-with-line-chart: "\f170";
    $font-Flaticon-document-with-paper-clip: "\f171";
    $font-Flaticon-document-with-selection-box: "\f172";
    $font-Flaticon-document-with-speaker: "\f173";
    $font-Flaticon-documents-empty: "\f174";
    $font-Flaticon-documents-exchange: "\f175";
    $font-Flaticon-documents-with-a-heart-symbol: "\f176";
    $font-Flaticon-door-exit: "\f177";
    $font-Flaticon-double-curve-arrow-to-the-right: "\f178";
    $font-Flaticon-edit: "\f179";
    $font-Flaticon-equalizer-tool-on-open-window: "\f17a";
    $font-Flaticon-escalator-down: "\f17b";
    $font-Flaticon-escalator-silhouette-symbol: "\f17c";
    $font-Flaticon-escalator-up-sign: "\f17d";
    $font-Flaticon-female-symbol: "\f17e";
    $font-Flaticon-find-again-option: "\f17f";
    $font-Flaticon-find-and-replace: "\f180";
    $font-Flaticon-find-text: "\f181";
    $font-Flaticon-first-aid-cross-in-black-inside-a-circle: "\f182";
    $font-Flaticon-fit-to-height: "\f183";
    $font-Flaticon-fit-to-width: "\f184";
    $font-Flaticon-flag-signal-in-black-cloth-on-a-pole: "\f185";
    $font-Flaticon-floppy-disk-digital-data-storage-or-save-interface-symbol: "\f186";
    $font-Flaticon-floppy-diskette-with-open-window: "\f187";
    $font-Flaticon-floppy-diskette-with-pen: "\f188";
    $font-Flaticon-floppy-disks-pair: "\f189";
    $font-Flaticon-floppy-drive: "\f18a";
    $font-Flaticon-folder-and-window: "\f18b";
    $font-Flaticon-folder-into: "\f18c";
    $font-Flaticon-folder-network-option: "\f18d";
    $font-Flaticon-folder-out-interface-symbol: "\f18e";
    $font-Flaticon-folder-shared: "\f18f";
    $font-Flaticon-folder-with-a-document-page: "\f190";
    $font-Flaticon-folder-with-information: "\f191";
    $font-Flaticon-folder-with-label-of-large-size: "\f192";
    $font-Flaticon-folder-zip: "\f193";
    $font-Flaticon-folders-of-large-size-arranged: "\f194";
    $font-Flaticon-folders-with-information: "\f195";
    $font-Flaticon-font: "\f196";
    $font-Flaticon-font-style-bold: "\f197";
    $font-Flaticon-font-style-subscript: "\f198";
    $font-Flaticon-font-style-superscript: "\f199";
    $font-Flaticon-font-style-underline: "\f19a";
    $font-Flaticon-font-window: "\f19b";
    $font-Flaticon-forbidden-sign: "\f19c";
    $font-Flaticon-four-arrows-meeting-at-the-center: "\f19d";
    $font-Flaticon-garbage-can: "\f19e";
    $font-Flaticon-garbage-can-half-full-with-recycle-symbol: "\f19f";
    $font-Flaticon-garbage-can-with-recycling-symbol: "\f1a0";
    $font-Flaticon-garbage-container: "\f1a1";
    $font-Flaticon-garbage-full: "\f1a2";
    $font-Flaticon-garbage-with-recycle-sign-overflowing-with-trash: "\f1a3";
    $font-Flaticon-hard-drive-computer-part: "\f1a4";
    $font-Flaticon-hard-drive-network: "\f1a5";
    $font-Flaticon-heart-simple-shape-silhouette: "\f1a6";
    $font-Flaticon-history: "\f1a7";
    $font-Flaticon-indent-decrease-symbol: "\f1a8";
    $font-Flaticon-indent-increase-interface-symbol: "\f1a9";
    $font-Flaticon-information: "\f1aa";
    $font-Flaticon-italics-font-style-variant: "\f1ab";
    $font-Flaticon-justified-text-alignment: "\f1ac";
    $font-Flaticon-key-with-cross-sign: "\f1ad";
    $font-Flaticon-led-light-lamp: "\f1ae";
    $font-Flaticon-letter-n-lower-case-font: "\f1af";
    $font-Flaticon-letters-abc-in-pixelated-form: "\f1b0";
    $font-Flaticon-lifebelt: "\f1b1";
    $font-Flaticon-light-bulb-off: "\f1b2";
    $font-Flaticon-lightbulb-on: "\f1b3";
    $font-Flaticon-lighthouse-with-flashing-lights: "\f1b4";
    $font-Flaticon-line-break-symbol: "\f1b5";
    $font-Flaticon-line-spacing-adjustment-in-a-paragraph: "\f1b6";
    $font-Flaticon-line-spacing-text: "\f1b7";
    $font-Flaticon-list-in-bullet-form: "\f1b8";
    $font-Flaticon-list-roman-style-numbers: "\f1b9";
    $font-Flaticon-locator-on-an-open-folded-map: "\f1ba";
    $font-Flaticon-log-in: "\f1bb";
    $font-Flaticon-magazine-folder: "\f1bc";
    $font-Flaticon-magic-wand: "\f1bd";
    $font-Flaticon-magnifying-lens-with-plus-sign: "\f1be";
    $font-Flaticon-male-gender-symbol-variant: "\f1bf";
    $font-Flaticon-map: "\f1c0";
    $font-Flaticon-map-location: "\f1c1";
    $font-Flaticon-map-of-roads: "\f1c2";
    $font-Flaticon-map-route: "\f1c3";
    $font-Flaticon-maximize-size-option: "\f1c4";
    $font-Flaticon-microsoft-word-document-file: "\f1c5";
    $font-Flaticon-minimize: "\f1c6";
    $font-Flaticon-minus-sign: "\f1c7";
    $font-Flaticon-minus-sign-of-a-line-in-horizontal-position: "\f1c8";
    $font-Flaticon-music-cd: "\f1c9";
    $font-Flaticon-music-document: "\f1ca";
    $font-Flaticon-music-folder: "\f1cb";
    $font-Flaticon-navigate-arrow-button-to-beginning: "\f1cc";
    $font-Flaticon-navigate-arrows-pointing-to-down: "\f1cd";
    $font-Flaticon-navigate-to-end: "\f1ce";
    $font-Flaticon-navigate-up-arrow: "\f1cf";
    $font-Flaticon-navigate-up-arrows: "\f1d0";
    $font-Flaticon-navigation-arrow-down-button: "\f1d1";
    $font-Flaticon-navigation-history-interface-symbol-of-a-clock-with-an-arrow: "\f1d2";
    $font-Flaticon-navigation-up-arrow-to-the-left: "\f1d3";
    $font-Flaticon-navigational-arrow-pointing-down-left-in-a-circle: "\f1d4";
    $font-Flaticon-numbered-list-style: "\f1d5";
    $font-Flaticon-open-door-with-border: "\f1d6";
    $font-Flaticon-open-folder-black-and-white-variant: "\f1d7";
    $font-Flaticon-open-folder-with-document: "\f1d8";
    $font-Flaticon-open-scroll-outline: "\f1d9";
    $font-Flaticon-open-window-with-gear-sign: "\f1da";
    $font-Flaticon-open-window-with-height-adjustment: "\f1db";
    $font-Flaticon-open-window-with-star-symbol: "\f1dc";
    $font-Flaticon-open-window-with-timer: "\f1dd";
    $font-Flaticon-plus-sign: "\f1de";
    $font-Flaticon-plus-symbol-button: "\f1df";
    $font-Flaticon-portfolio-folder-with-button-lock: "\f1e0";
    $font-Flaticon-printer-of-network: "\f1e1";
    $font-Flaticon-printer-with-document-coming-out-of-machine: "\f1e2";
    $font-Flaticon-question-mark-in-a-circle: "\f1e3";
    $font-Flaticon-quotation-mark: "\f1e4";
    $font-Flaticon-quotation-marks: "\f1e5";
    $font-Flaticon-quotation-right-mark: "\f1e6";
    $font-Flaticon-radiation-warning-sign: "\f1e7";
    $font-Flaticon-recycle-symbol-made-of-arrows-with-selection-box: "\f1e8";
    $font-Flaticon-redo-navigational-arrow-in-a-circle: "\f1e9";
    $font-Flaticon-refresh-arrows-couple: "\f1ea";
    $font-Flaticon-refresh-navigational-arrows-interface-symbol-inside-a-circle: "\f1eb";
    $font-Flaticon-refresh-selection-arrows-couple-inside-a-square-of-broken-line: "\f1ec";
    $font-Flaticon-resize-arrow-inside-a-square-interface-symbol: "\f1ed";
    $font-Flaticon-right-text-alignment-option: "\f1ee";
    $font-Flaticon-right-thin-arrowheads: "\f1ef";
    $font-Flaticon-route-sign: "\f1f0";
    $font-Flaticon-scroll-variant-with-seal: "\f1f1";
    $font-Flaticon-selection-find-interface-symbol-of-binoculars-with-eyes-in-a-square-of-broken-line: "\f1f2";
    $font-Flaticon-selection-symbol-for-interface-of-a-square-of-broken-line: "\f1f3";
    $font-Flaticon-selection-view-interface-symbol-of-a-magnifying-glass-inside-a-broken-line-square: "\f1f4";
    $font-Flaticon-service-bell: "\f1f5";
    $font-Flaticon-ships-wheel: "\f1f6";
    $font-Flaticon-signaling-disc-tool: "\f1f7";
    $font-Flaticon-signpost: "\f1f8";
    $font-Flaticon-signpost-1: "\f1f9";
    $font-Flaticon-signpost-with-three-arrows: "\f1fa";
    $font-Flaticon-speech-balloon-outline-for-conversation: "\f1fb";
    $font-Flaticon-speech-balloon-outline-with-exclamation-mark: "\f1fc";
    $font-Flaticon-speech-balloon-outline-with-question-mark: "\f1fd";
    $font-Flaticon-spell-check-interface-symbol: "\f1fe";
    $font-Flaticon-split-type-window: "\f1ff";
    $font-Flaticon-square-root-of-x-math-formula: "\f200";
    $font-Flaticon-ssd-drive-part: "\f201";
    $font-Flaticon-stairs-down: "\f202";
    $font-Flaticon-stairs-up: "\f203";
    $font-Flaticon-star-in-black-of-five-points-shape: "\f204";
    $font-Flaticon-star-outline: "\f205";
    $font-Flaticon-stop-sign-variant: "\f206";
    $font-Flaticon-strikethrough-font-variant: "\f207";
    $font-Flaticon-sum-sign: "\f208";
    $font-Flaticon-tag-black: "\f209";
    $font-Flaticon-tags-black-couple-with-rings: "\f20a";
    $font-Flaticon-text-align-left: "\f20b";
    $font-Flaticon-text-alignment-at-the-center: "\f20c";
    $font-Flaticon-text-document: "\f20d";
    $font-Flaticon-ticket: "\f20e";
    $font-Flaticon-toxic-warning-sign: "\f20f";
    $font-Flaticon-traffic-light: "\f210";
    $font-Flaticon-traffic-light-in-red-signal: "\f211";
    $font-Flaticon-traffic-light-silhouette-variant: "\f212";
    $font-Flaticon-trafficlight-in-green: "\f213";
    $font-Flaticon-trafficlight-in-yellow: "\f214";
    $font-Flaticon-trafficlight-off: "\f215";
    $font-Flaticon-triangular-warning-sign: "\f216";
    $font-Flaticon-triple-arrow-merging-to-one: "\f217";
    $font-Flaticon-undo-arrow: "\f218";
    $font-Flaticon-undo-navigational-arrow-in-a-circle: "\f219";
    $font-Flaticon-up-right-arrow-in-a-circle: "\f21a";
    $font-Flaticon-view-11: "\f21b";
    $font-Flaticon-warning-flammable-sign: "\f21c";
    $font-Flaticon-warning-harmful-sign: "\f21d";
    $font-Flaticon-warning-voltage-sign-of-a-bolt-inside-a-triangle: "\f21e";
    $font-Flaticon-warning-window-with-exclamation-sign-inside-a-triangle: "\f21f";
    $font-Flaticon-window-close: "\f220";
    $font-Flaticon-window-networking-option: "\f221";
    $font-Flaticon-window-of-dialog: "\f222";
    $font-Flaticon-window-of-test-card: "\f223";
    $font-Flaticon-window-size: "\f224";
    $font-Flaticon-window-split-vertical: "\f225";
    $font-Flaticon-window-width: "\f226";
    $font-Flaticon-window-with-earth-image: "\f227";
    $font-Flaticon-window-with-side-bar-selection: "\f228";
    $font-Flaticon-windows-close: "\f229";
    $font-Flaticon-windows-couple: "\f22a";
    $font-Flaticon-yield-sign: "\f22b";
    $font-Flaticon-zip-file-document-variant: "\f22c";
    $font-Flaticon-zoom-out-option: "\f22d";